@section Styles {
    <link rel="stylesheet" href="~/css/Filme.css" />
} 

@model Projeto_IHC.Models.FilmeModel


<section class="card d-flex flex-md-row flex-column justify-content-center align-items-center bg-dark">
    <div><img class="poster" src="@Model.Filme.URLPoster" alt="" id="cardPoster"></div>
    <div class="container-fluid">
        <div>
            <h1 class="card-title">@Model.Filme.Nome</h1>
            <p> Ano: @Model.Filme.Ano</p>
            <p>Diretor: @Model.Filme.Diretor</p>
        </div>
        <p class="text-start pr-md-5 m-md-0">@Model.Filme.Resumo</p>
    </div>
</section>
<section>
    <div class="d-flex flex-lg-row flex-column">
        <div class="container-xlg m-3 col-lg-7">
            <p class="h2 text-white">Trailer</p>
            <iframe src="@Model.Filme.URLTrailer"
                    title="@Model.Filme.Nome Trailer"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
                    allowfullscreen
                    class="yt-frame">

            </iframe>
        </div>
    </div>
</section>