@model IEnumerable<Projeto_IHC.Entidades.Filme>

@{
    ViewData["Title"] = "Lista de Filmes";
}


<nav id="caminhodepao" style="--bs-breadcrumb-divider: '>'; padding:0!important;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista Filmes</li>
    </ol>
</nav>

<h1>Lista de Filmes</h1>


<p>
    <a class="btn btn-outline-success" href="/Admin/AdicionarFilme">Adicionar Filme</a>
</p>
<div class="overflow-auto">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Em Cartaz
                </th>
                <th>
                    Em Breve
                </th>
                <th>
                    Classificação
                </th>
                <th>
                    Duração
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @if (item.emCartaz)
                        {
                            <div class="mx-2"><i class="fa-solid fa-check"></i></div>
                        }
                        else
                        {
                            <div class="mx-2"><i class="fa-solid fa-x"></i></div>
                        }
                    </td>
                    <td>
                        @if (item.emBreve)
                        {
                            <div class="mx-2"><i class="fa-solid fa-check"></i></div>
                        }
                        else
                        {
                            <div class="mx-2"><i class="fa-solid fa-x"></i></div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classificacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>
                    <td>
                        <div class="d-flex flex-md-row flex-column">
                            <a class="btn btn-outline-primary m-1" href="/Admin/EditarFilme/@item.Id">Editar</a>
                            <a class="btn btn-outline-danger m-1" href="/Admin/RemoverFilme/@item.Id">Remover</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>