@model IEnumerable<Projeto_IHC.Entidades.Sessao>

@{
    ViewData["Title"] = "Lista de Sessoes";
}

<h1>Lista de Sessões</h1>

<a href="/Admin/AdicionarSessao" type="button" class="btn btn-secondary btn-lg">
    Adiconar Sessao
</a>
</p>
<table class="table  table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Horário
            </th>
            <th>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <p class="m-0 p-0">Sessões na Semana</p>
                    </div>
                    <div id="dias" class="d-flex flex-row justify-content-between">
                        <div class="mx-1">DOM</div>
                        <div class="mx-1">SEG</div>
                        <div class="mx-1">TER</div>
                        <div class="mx-1">QUA</div>
                        <div class="mx-1">QUI</div>
                        <div class="mx-1">SEX</div>
                        <div class="mx-1">SAB</div>
                    </div>
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    <div class="d-flex flex-row justify-content-between flex-grow-1">
                        @foreach (var dia in item.DiasSemana)
                        {
                            if (dia == '1')
                            {
                                <div class="mx-2"><i class="fa-solid fa-check"></i></div>
                            }
                            else
                            {
                                <div class="mx-2"><i class="fa-solid fa-x"></i></div>
                            }
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Audio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Video)
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="/Admin/EditarSesssao/@item.Id">Editar</a>
                    <a class="btn btn-outline-danger" href="/Admin/RemoverSesssao/@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
